.register-details {
  height: 100vh;
  width: 100vw;
  background-color: #aaa;
}

.register-details ::-webkit-scrollbar {
  width: 8px;
}

.register-details ::-webkit-scrollbar-track {
  background-color: #ddd;
}

.register-details ::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
}

.loading-popper {
  height: 200px;
  width: 200px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-details-container {
  height: 650px;
  width: 90%;
  max-width: 500px;
  border-radius: 2%;
  background-image: linear-gradient(45deg, #241459, #291458, #741851, #b01a4a);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.register-details .register-details-container .input-field {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-details .register-details-container .input-field-image {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.register-details
  .register-details-container
  .input-field-image
  .MuiAvatar-root {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 10px;
}

.register-details .register-details-container .input-field .MuiSvgIcon-root {
  font-size: 40px;
  color: red;
}

.register-details .register-details-container .input-field .MuiTextField-root {
  width: 85%;
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
}

.register-details .register-details-container .header {
  font-size: 23px;
  margin: 10px;
}

.register-details .register-details-container .MuiTextField-root {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
}

.register-details .register-details-container .buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.register-details .register-details-container .buttons .MuiButton-root {
  margin: 10px;
}

.register-details .register-details-container .buttons .MuiButton-root:hover {
  background-color: #555;
}

.register-details .register-details-container .buttons .MuiButton-text {
  color: #fff;
  font-size: 13px;
}
