.iconbutton {
  width: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconbutton .MuiSvgIcon-root {
  font-size: 35px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 10px;
  width: 250px;
  height: 600px;
  background-color: #28df56;
}

.profile .MuiAvatar-root{
    width: 60px;
    height: 60px;
}

.profile .edit-profile{
    position: relative;
}

.divider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #28df56;
}
.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin: 5px auto;
  border-radius: 20px;
  cursor: pointer;
}
.item:hover {
  background-color: #07fc03;
}
.item .item-icon {
  padding-left: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
}
.item .item-name {
  width: 60%;
  padding-right: 10px;
  display: flex;
  justify-content: center;
}
